* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root {
    background-image: url(/img/back.jpg);
    font-family: 'Roboto', sans-serif;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/* #################################### */
/* ######### GENERAL STYLES ########### */
/* #################################### */

h1 {
    color: rgb(148, 49, 49);
    margin: 10px auto;
}

h2 {
    font-size: 4rem;
    font-family: 'Kaushan Script', 'Roboto', sans-serif;
    text-shadow: 7px 2px 8px rgba(0,0,0,0.70) ;
    margin: 100px 0 0 150px;
    color: #fff;
}

hr {
    margin: 10px auto;
    width: 140px;
    position: relative;
    height: 2px;
    background: black;
}

img {
    width: 300px;
    height: 270px;
}

p {
    text-align: justify;
    padding: 0 20px;
}


/* #################################### */

.header {
    display: block;
}

.imgcontainer {
    transform: translateY(-200px); 
    height: 150px;
    animation: topdown 2s 1.5s forwards;
    animation-delay: 600ms;
    float: left;
}

.mainlogo {
    display: block;
    width: 200px;
    height: 250px;
    position: relative;
    top: -100px;
    left: 0px;
    animation-duration: 2s;
    transform-origin: bottom;  
}

.menu {
    margin: 0 auto;
    justify-content: center;
    align-content: center;
}

.list {
    clear: both;
}

.list, .list li {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.list li {
    font-size: 1.6rem;
    font-weight: bold;
    list-style: none;
    width: 320px;
}

.list li:nth-child(2) {
    margin-right: 40px;
}


.list li a {
    animation: faddingmenu 3s 2s forwards;
    animation-delay: 1.5s;
    animation-duration: 1.5s;
}

.list li a {
    text-decoration:none;
    color:rgba(255, 255, 255, 0);
    line-height: 2rem;  
}

.list a:hover {
    color:#fff;
    text-shadow: 7px 2px 8px rgba(0,0,0,0.91) ;
    font-size: 1.7rem;
}

.container {
    animation: container 3s 2s forwards;
    animation-delay: 1s;
    opacity: 0;
}

.content {
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.img_wrap {
    display: flex;
    margin-top: 150px;
    margin-right: 100px;
    width: 300px;
    height: 270px;
    background-color: #fff;
    box-shadow: 0px 0px 25px 5px rgba(0,0,0,0.69);
    border-radius: 10px;
    overflow: hidden;
    justify-content: center;
}

.img_wrap:nth-child(3n) {
    margin-right: 0px;
}

.overlay {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    position: relative;
    cursor: pointer;
    transition: all 2s ease;
    text-align: center;
}

.overlay:hover {
    transition: all 2s ease;
    transform: translateY(-101%);
}

/* #################################### */
/* ######### ANIMATION PART ########### */
/* #################################### */

@keyframes topdown {

    0%   { 
        transform: translateY(-100px); 
        opacity: 0.5%;
    }
    50%  { 
        transform: translateY(20px); 
    }
    100% { 
        transform: translateY(0); 
        opacity: 100%;
    }
}

@keyframes faddingmenu {
    0% { 
        letter-spacing: 0rem; 
        color: rgba(255, 255, 255, 0);
    }
    100% { 
        letter-spacing: 0.2rem; 
        color: rgba(255, 255, 255, 1);
    }      
}

@keyframes fadding {
    0% { 
        letter-spacing: 0rem; 
        color: rgba(255, 255, 255, 0);
    }
    100% { 
        letter-spacing: 1.5rem; 
        color: rgba(255, 255, 255, 1);
    }      
}

@keyframes container {
    0% { 
        opacity: 0;
    }
    100% { 
        opacity: 1;
    }      
}

/* #################################### */
/* ######### RESPONSIVE PART ########## */
/* #################################### */

@media all and (max-width: 1560px) {

    .list {
        clear: none;
        padding-top: 50px;
    }

    .list li:nth-child(5) {
        padding-right: 50px;
    }

    .list a {
        font-size: 0.9rem;
    }

    .list a:hover {
        font-size: 1rem;
    }

    h1 {
        font-size: 1.2rem;
    }

    p {
        font-size: 0.7rem;
    }

    h2 {
        font-size: 3rem;
    }

    img {
        width: 220px;
        height: 200px;
    }

    .img_wrap {
        width: 220px;
        height: 200px;
    }

}

@media all and (max-width: 1280px) {

    .mainlogo {
        width: 180px;
        height: 220px;
    }

    .list {
        clear: both;
        padding-top: 0px;
    }

}

@media all and (max-width:1100px) {

    h2 {
        font-size: 2.5rem;
        margin: 100px 0 20px 50px;
    }

    .list li {
        font-weight: none;
        padding-top: 10px;
        margin: 0px;
    }

    .list li:nth-child(2) {
        margin-right: 0px;
    }

    .list li:nth-child(5) {
        padding-right: 0px;
    }

    .list a {
        font-size: 1rem;
    }


    .imgcontainer {
        display: none;
    }



    .content {
        flex-direction: column;
    }

    .img_wrap {
        margin: 0px;
        margin: 20px 0;
    }
}

@media all and (max-width:600px) {
    .container h2 {
        display: flex; 
        justify-content: center;
        margin: 20px auto;
    }

    .content {
        margin-top: 80px;
    }

    img {
        width: 200px;
        height: 180px;
    }

    .img_wrap {
        width: 200px;
        height: 180px;
    }

    hr {
        margin: 5px auto;
        width: 100px;
    }

    p {
        font-size: 0.75rem;
    }

}












