* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root {
    background-image: url(/img/back.jpg);
    font-family: 'Roboto', sans-serif;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/* #################################### */
/* ######### GENERAL STYLES ########### */
/* #################################### */

h2 {
    font-size: 4rem;
    font-family: 'Kaushan Script', 'Roboto', sans-serif;
    text-shadow: 7px 2px 8px rgba(0,0,0,0.70) ;
    margin: 50px 0 0 150px;
    color: #fff;
}

/* #################################### */

.header {
    display: block;
}

.imgcontainer {
    transform: translateY(-200px); 
    height: 150px;
    animation: topdown 2s 1.5s forwards;
    animation-delay: 600ms;
    float: left;
}

.mainlogo {
    display: block;
    width: 200px;
    height: 250px;
    position: relative;
    top: -100px;
    left: 0px;
    animation-duration: 2s;
    transform-origin: bottom;  
}

.menu {
    margin: 0 auto;
    justify-content: center;
    align-content: center;
}

.list {
    clear: both;
}

.list, .list li {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.list li {
    font-size: 1.6rem;
    font-weight: bold;
    list-style: none;
    width: 320px;
}

.list li:nth-child(2) {
    margin-right: 40px;
}


.list li a {
    animation: faddingmenu 3s 2s forwards;
    animation-delay: 1.5s;
    animation-duration: 1.5s;
}

.list li a {
    text-decoration:none;
    color:rgba(255, 255, 255, 0);
    line-height: 2rem;  
}

.list a:hover {
    color:#fff;
    text-shadow: 7px 2px 8px rgba(0,0,0,0.91) ;
    font-size: 1.7rem;
}

.container {
    animation: container 3s 2s forwards;
    animation-delay: 1s;
    opacity: 0;
}

#slide-container {
    display: block;
    margin: 0 auto ;
    margin-top: 100px;
    text-align: center;
    justify-content: center;
    align-items: center;
}

#slideshow{
    width: 900px;
    height: 600px;
    margin: 0 auto;
    overflow: hidden;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0px 0px 25px 5px rgba(0,0,0,0.69);
}
#image_box{
    width: 2700px;
    position: relative;
    transition: left 2s;
}

.slider-image {
    width: 900px;
    height: 600px;
}

.slider-image {
    float: left;
    margin: 0px;
    padding: 0px;
}

.slider-button {
    display: inline-block;
    height: 20px;
    width: 20px;
    border-radius: 55px;
    background-color: #fff;
    border: 1px solid skyblue;
    margin: 0 5px 0 5px;
}

.slider-button:hover {
    cursor: pointer;
    background-color: tomato;
}

#slider-image-1:target~#image_box {
    left: 0px;
}

#slider-image-2:target~#image_box {
    left: -900px;
}

#slider-image-3:target~#image_box {
    left: -1800px;
}

#slideshow, #button_box{
    animation-name: item;
    animation-delay: 0s;
    animation-duration: 2s;
}

#button_box {
    display: flex;
    justify-content: center;
    margin: 40px auto;
}

footer {
    position: fixed;
    bottom: 0px;
    margin: 0 auto;
    width: 100%;
    padding: 20px;
    text-align: center;
    font-size: 1.3rem;
    font-weight: bold;
    color: white;
}


/* #################################### */
/* ######### ANIMATION PART ########### */
/* #################################### */

@keyframes topdown {

    0%   { 
        transform: translateY(-100px); 
        opacity: 0.5%;
    }
    50%  { 
        transform: translateY(20px); 
    }
    100% { 
        transform: translateY(0); 
        opacity: 100%;
    }
}

@keyframes faddingmenu {
    0% { 
        letter-spacing: 0rem; 
        color: rgba(255, 255, 255, 0);
    }
    100% { 
        letter-spacing: 0.2rem; 
        color: rgba(255, 255, 255, 1);
    }      
}

@keyframes fadding {
    0% { 
        letter-spacing: 0rem; 
        color: rgba(255, 255, 255, 0);
    }
    100% { 
        letter-spacing: 1.5rem; 
        color: rgba(255, 255, 255, 1);
    }      
}

@keyframes container {
    0% { 
        opacity: 0;
    }
    100% { 
        opacity: 1;
    }      
}

@keyframes item{
    0%{
        transform: translate(0%, -2000px);
    }
    100%{
        transform: translate(0%, 20px);
    }
}

/* #################################### */
/* ######### RESPONSIVE PART ########## */
/* #################################### */

@media all and (max-width: 1560px) {

    .list {
        clear: none;
        padding-top: 50px;
    }

    .list li:nth-child(5) {
        padding-right: 50px;
    }

    .list a {
        font-size: 0.9rem;
    }

    .list a:hover {
        font-size: 1rem;
    }

    h2 {
        font-size: 3rem;
        margin: 100px 0 0 150px;
    }

    #slide-container {
        margin-top: 0px;
    }

    #slideshow{
        margin-top: 50px;
        width: 650px;
        height: 450px;
    }
    #image_box{
        width: 1950px;
    }
    
    .slider-image {
        width: 650px;
        height: 450px;
    }

    #slider-image-2:target~#image_box {
        left: -650px;
    }
    
    #slider-image-3:target~#image_box {
        left: -1300px;
    }

    .slider-button {
        height: 18px;
        width: 18px;
    }

    footer {
        font-size: 1rem;
    }

}

@media all and (max-width: 1280px) {

    .mainlogo {
        width: 180px;
        height: 220px;
    }

    .list {
        clear: both;
        padding-top: 0px;
    }

    #slideshow{
        width: 500px;
        height: 350px;
    }
    #image_box{
        width: 1500px;
    }
    
    .slider-image {
        width: 500px;
        height: 350px;
    }

    #slider-image-2:target~#image_box {
        left: -500px;
    }
    
    #slider-image-3:target~#image_box {
        left: -1000px;
    }

    #button_box{
        margin-top: 30px;
    }

}

@media all and (max-width:1100px) {

    .container h2 {
        font-size: 3rem;
        margin: 0px;
        margin: 50px auto 0;
        display: flex;
        justify-content: center;
    }

    .list li {
        font-weight: none;
        padding-top: 10px;
        margin: 0px;
    }

    .list li:nth-child(2) {
        margin-right: 0px;
    }

    .list li:nth-child(5) {
        padding-right: 0px;
    }

    .list a {
        font-size: 1rem;
    }

    .toggler{
        display: flex;
    } 

    #slideshow {
        margin-top: 250px;
    }

    .imgcontainer {
        display: none;
    }

}

@media all and (max-width:680px) {
    #slideshow{
        width: 450px;
        height: 300px;
    }
    #image_box{
        width: 1350px;
    }
    
    .slider-image {
        width: 450px;
        height: 300px;
    }

    #slider-image-2:target~#image_box {
        left: -450px;
    }
    
    #slider-image-3:target~#image_box {
        left: -900px;
    }

    #button_box{
        margin-top: 30px;
    }

    footer {
        font-size: 0.8rem;
    }
}
/* ##################################### */
/* ######### MOBILE - IPHONE X ######### */ 
/* ##################################### */

@media all and (max-width:400px) {

    .container h2 {
        margin-top: 100px;
    }

    #slideshow{
        margin-top: 170px;
        width: 280px;
        height: 200px;
    }
    #image_box{
        width: 840px;
    }
    
    .slider-image {
        width: 280px;
        height: 200px;
    }

    #slider-image-2:target~#image_box {
        left: -280px;
    }
    
    #slider-image-3:target~#image_box {
        left: -560px;
    }

    #button_box{
        margin-top: 30px;
    }

    .slider-button {
        display: inline-block;
        height: 15px;
        width: 15px;
    }
}























































