:root {
    background-image: url(/img/back.jpg);
    font-family: 'Roboto', sans-serif;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

body{
    margin: 0 auto;
}

.toplogocenter {
    align-content: center;
    display: flex;
}

.imgcontainer {
    animation: topdown 2s 1.5s forwards;
    animation-delay: 2s;
    transform: translateY(-200px);
  }
  
  @keyframes topdown {
    0%   { transform: translateY(-200px); }
    50%  { transform: translateY(30px); }
    100% { transform: translateY(0); }
  }

  .list li a {
    font-family: 'Roboto', sans-serif;

    animation: faddingmenu 3s 2s forwards;
    animation-delay: 1s;
    animation-duration: 1s;
}

@keyframes faddingmenu {
    0% { 
        letter-spacing: 0rem; 
        color: rgba(255, 255, 255, 0);
    }
    100% { 
        letter-spacing: 0.2rem; 
        color: rgba(255, 255, 255, 1);
    }      
}

/* ##  ALIGN MENU ## */
.list, .list li {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
/* ########################## */

.list {
    padding-top: 100px;
}

.list li {
    font-size: 1.5rem;
    list-style: none;
    width: 300px;
}

.list li:nth-child(2) {
    margin-right: 2vw;
}

.list a {
    text-decoration:none;
    color:rgba(255, 255, 255, 0);
    line-height: 2rem;  
}

.list a:hover {
    color:#fff;
    text-shadow: gray 15px 10px 4px;
    font-size: 1.6rem;
}

.header {
    display: flex;
}

h2 {
    font-size: 3.3em;
    font-family: 'Kaushan Script', 'Roboto', sans-serif;
    margin: 50px 0 0 150px;
    color: #fff;
}




#back_img>img{
    width: 100vw;
    height: 100vh;
    opacity: 0.7;
}

.mainlogo {
    display: block;
    width: 10vw;
    position: relative;
    top: -100px;
    left: 0px;
    animation-duration: 2s;
    transform-origin: bottom;  
}

h1{
    font-size: 5em;
    color: #fff;
    font-family: 'Kaushan Script', cursive;
    position: absolute;
    top: 0%;
    left: 35%;
    margin: 0 auto;
}

/* ========== slideshow ========== */

#slide-container {
    display: flex;
    margin: 0 auto ;
    margin-top: 100px;
    text-align: center;
    justify-content: center;
    align-items: center;
}

#slideshow{
    width: 640px;
    height: 400px;
    margin: 100px auto;
    overflow: hidden;
    text-align: center;
    /* position: absolute;
    top: 35%;
    left: 33%; */
}
#image_box{
    width: 1920px;
    height: 400px;
    position: relative;
    transition: left 2s;
}
.slider-image {
    float: left;
    margin: 0px;
    padding: 0px;
}
#button_box{
    position: relative;
    top: -18px;
}
.slider-button {
    display: inline-block;
    height: 15px;
    width: 15px;
    border-radius: 55px;
    background-color: #fff;
    margin: 0 5px 0 5px;
}
#slider-image-1:target~#image_box {
    left: 0px;
}

#slider-image-2:target~#image_box {
    left: -640px;
}

#slider-image-3:target~#image_box {
    left: -1280px;
}

/* ========== animation ========== */

#logo_img{
    animation-name: logo;
    animation-delay: 0s;
    animation-duration: 2s;
}
h1{
    animation-name: title;
    animation-delay: 0s;
    animation-duration: 2s;
}
#slideshow{
    animation-name: item;
    animation-delay: 0s;
    animation-duration: 2s;
}
@keyframes logo{
    0%{
        transform: translate(0%, -1000px);
    }
    100%{
        transform: translate(0%, 10px);
    }
}
@keyframes title{
    0%{
        transform: translate(-2000px, 0%);
    }
    100%{
        transform: translate(10px, 0%);
    }
}
@keyframes item{
    0%{
        transform: translate(0%, -2000px);
    }
    100%{
        transform: translate(0%, 10%);
    }
}