:root {
    background-image: url(/img/back.jpg);
    font-family: 'Roboto', sans-serif;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

body{
    margin: 0 auto;
}

.toplogocenter {
    align-content: center;
    display: flex;
}

.imgcontainer {
    animation: topdown 2s 1.5s forwards;
    animation-delay: 2s;
    transform: translateY(-200px);
  }
  
  @keyframes topdown {
    0%   { transform: translateY(-200px); }
    /* 50%  { transform: translateY(30px); } */
    100% { transform: translateY(70px); }
  }

  .list li a {
    font-family: 'Roboto', sans-serif;
    animation: faddingmenu 3s 2s forwards;
    animation-delay: 1s;
    animation-duration: 1s;
}

@keyframes faddingmenu {
    0% { 
        letter-spacing: 0rem; 
        color: rgba(255, 255, 255, 0);
    }
    100% { 
        letter-spacing: 0.2rem; 
        color: rgba(255, 255, 255, 1);
    }      
}

/* ##  ALIGN MENU ## */
.list, .list li {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
/* ########################## */

.list {
    padding-top: 100px;
}

.list li {
    font-size: 1.5rem;
    list-style: none;
    width: 300px;
}

.list li:nth-child(2) {
    margin-right: 2vw;
}

.list a {
    text-decoration:none;
    color:rgba(255, 255, 255, 0);
    line-height: 2rem;  
}

.list a:hover {
    color:#fff;
    text-shadow: gray 15px 10px 4px;
    font-size: 1.6rem;
}

.header {
    display: flex;
}

h2 {
    font-size: 3.3em;
    font-family: 'Kaushan Script', 'Roboto', sans-serif;
    color: #fff;
    position: relative;
    right: 1000px;
}




/* #back_img>img{
    width: 100vw;
    height: 100vh;
    opacity: 0.7;
} */

.mainlogo {
    display: block;
    width: 10vw;
    position: relative;
    top: -100px;
    left: 0px;
    animation-duration: 2s;
    transform-origin: bottom;  
}

/* h1{
    font-size: 5em;
    color: #fff;
    font-family: 'Kaushan Script', cursive;
    position: absolute;
    top: 0%;
    left: 35%;
    margin: 0 auto;
} */

/* ========== slideshow ========== */

#slideshow{
    width: 640px;
    height: 400px;
    margin: 100px auto;
    overflow: hidden;
    text-align: center;
    position: absolute;
    top: 35%;
    left: 33%;
}
#image_box{
    width: 1920px;
    height: 400px;
    position: relative;
    transition: left 2s;
}
.slider-image {
    float: left;
    margin: 0px;
    padding: 0px;
}
#button_box{
    position: relative;
    top: -18px;
}
.slider-button {
    display: inline-block;
    height: 15px;
    width: 15px;
    border-radius: 55px;
    background-color: red;
    margin: 0 5px 0 5px;
}
#slider-image-1:target~#image_box {
    left: 0px;
}

#slider-image-2:target~#image_box {
    left: -640px;
}

#slider-image-3:target~#image_box {
    left: -1280px;
}

/* ========== animation ========== */

/* #logo_img{
    animation-name: logo;
    animation-delay: 0s;
    animation-duration: 2s;
} */
/* h1{
    animation-name: title;
    animation-delay: 0s;
    animation-duration: 2s;
} */
#slideshow{
    animation-name: item;
    animation-delay: 0s;
    animation-duration: 2s;
}
/* @keyframes logo{
    0%{
        transform: translate(0%, -1000px);
    }
    100%{
        transform: translate(0%, 10px);
    }
} */
/* @keyframes title{
    0%{
        transform: translate(-2000px, 0%);
    }
    100%{
        transform: translate(10px, 0%);
    }
} */
@keyframes item{
    0%{
        transform: translateY(-2000px);
    }
    100%{
        transform: translateY(10px);
    }
}

/* ========== media =========== */

@media screen and (max-width: 600px){
    .list, .list li {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    flex-direction: column;
    padding-bottom: 32px;
    }
.toggler{
    display: flex;
}
.container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    /* background-color: skyblue; */
    cursor: pointer;
}
/* .img_wrap {
    display: flex;
    margin: 20px;
    width: 230px;
    height: 200px;
    background-color: #fff;
    overflow: hidden;
    justify-content: center;
}
.img_wrap:nth-child(3n) {
    margin-right: 20px;
} */
    #main{
        position: relative;
        top: 130px;
        right: 355px;
    }
    #slideshow{
        width: 300px;
        height: 200px;
    }
    #image_box{
        position: relative;
        right: 100px;
    }
    #button_box{
        position: relative;
        top: -100px;
        z-index: 10;
    }
    h2 {
        font-size: 2.6em;
        font-family: 'Kaushan Script', 'Roboto', sans-serif;
        color: #fff;
        margin: 0 auto;
        position: relative;
        top: 180px;
        right: 80px;
    }
    .imgcontainer {
        justify-content: center;
        align-items: center;
        animation: none;
    }
    .mainlogo {
        display: block;
        width: 40vw;
        position: relative;
        top: 150px;
        left: 120px;
    }
      
    .menu-wrap .toggler {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 4;
        cursor: pointer;
        width: 50px;
        height: 50px;
        opacity: 0;
    }
    .menu-wrap .hamburger {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 3;
        width: 35px;
        height: 35px;
        padding: 1rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .menu-wrap .hamburger>div {
        position: relative;
        width: 100%;
        height: 2px;
        background-color: #fff;
        display: flex;
        transition: all 0.4s ease;
    }
    
    .menu-wrap .hamburger>div::before, .menu-wrap .hamburger>div::after {
        content: '';
        position: absolute;
        z-index: 1;
        top: -10px;
        width: 100%;
        height: 2px;
        background-color: inherit;
    }
    
    .menu-wrap .hamburger>div::after {
        top: 10px;
    }
    
    .menu-wrap .toggler:checked+.hamburger>div {
        transform: rotate(135deg);
    }
    
    .menu-wrap .toggler:checked+.hamburger>div::before, .menu-wrap .toggler:checked+.hamburger>div::after {
        top: 0;
        transform: rotate(90deg);
    }
    
    .menu-wrap .toggler:checked:hover+.hamburger>div {
        transform: rotate(225deg);
    }
    
    /* show menu */
    
    .menu-wrap .toggler:checked~.menu {
        visibility: visible;
    }
    
    .menu-wrap .toggler:checked~.menu>div {
        transform: scale(1);
        transition-duration: 2s;
    }
    
    .menu-wrap .toggler:checked~.menu>div>div {
        opacity: 1;
        transition: opacity 0.4s ease;
    }
    
    .menu-wrap .toggler:checked~.menu .menu-wrap.menu {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        visibility: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .menu-wrap .menu {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        visibility: hidden;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 2;

    }
    
    .menu-wrap .menu>div {
        background: rgba(29, 26, 26, 0.7);
        width: 100vw;
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        transform: scale(0);
        transition: all 0.4s ease;
        z-index: 8;
    }
    
    .menu-wrap .menu>div>div {
        text-align: center;
        display: flex;
        flex-direction: column;
        max-width: 90vw;
        max-height: 100vh;
        opacity: 0;
        transition: opacity 0.4s ease;
    }
    
    .menu-wrap .menu>div>div>ul>li {
        list-style: none;
        color: white;
        font-size: 1.5rem;
    }
    
    .menu-wrap .menu>div>div>ul>li>a {
        color: inherit;
        text-decoration: none;
        transition: color 0.4s ease;
    }
}