* {
    box-sizing: border-box;
}
:root {
    background-image: url(/img/back.jpg);
    font-family: 'Roboto', sans-serif;
    
}
body {
    display: block;
    margin: 0px;
}

.toplogocenter {
    align-content: center;
    display: flex;
}

.mainlogo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    height: 300px;
    position: relative;
    top: -100px;
    animation-duration: 2s;
    transform-origin: bottom;  
}

.imgcontainer {
    animation: topdown 2s 1.5s;
    animation-delay: 2s;
  }
  
  @keyframes topdown {
    0%   { transform: translateY(-200px); }
    50%  { transform: translateY(30px); }
    100% { transform: translateY(0); }
  }

  .subtitle {
      font-size: 1.5rem;
      text-align: center;
      color: rgba(255, 255, 255, 0);
      letter-spacing: 1.5rem;
      margin-bottom: 5rem;
  }

  .subtitle {
      animation: fadding 3s 2s forwards;
      animation-delay: 4s;
      animation-duration: 3s;
  }

  @keyframes fadding {
    0% { letter-spacing: 0rem; color: rgba(255, 255, 255, 0);}
    100% { letter-spacing: 1.5rem; color: rgba(255, 255, 255, 1);}      
}

  .list li a {
    animation: faddingmenu 3s 2s forwards;
    animation-delay: 4s;
    animation-duration: 3s;
}

@keyframes faddingmenu {
    0% { letter-spacing: 0rem; color: rgba(255, 255, 255, 0);}
    100% { letter-spacing: 0.2rem; color: rgba(255, 255, 255, 1);}      
}

.menu {
    width: auto;
}

.list {
    display: flex;
    margin: 0 auto;
    /* width: 90%; */
}

.list li {
    margin: 0.5em;
    margin: 0, auto;
    /* border: black solid; */
    text-align: center;
    font-size: 1.5rem;
    list-style: none;
    height: 100px;
    width: 400px;
}

.list a {
    padding:20px;
    text-decoration:none;
    color:rgba(255, 255, 255, 0);
    line-height: 2rem;        
}

.list a:hover {
    color:fff;
    text-shadow: gray 15px 10px 4px;
    font-size: 1.6rem;
    float: none;
    position: relative;
}