* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

:root {
    background-image: url(/img/back.jpg);
    font-family: 'Roboto', sans-serif;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.toplogocenter {
    align-content: center;
    display: flex;
}

.mainlogo {
    display: block;
    margin: 0 auto;
    width: 300px;
    height: 300px;
    position: relative;
    top: -100px;
    animation-duration: 2s;
    transform-origin: bottom;  
}

.imgcontainer {
    animation: topdown 2s 1.5s forwards;
    animation-delay: 2s;
    transform: translateY(-200px);
}
  
@keyframes topdown {
    0%   { 
        transform: translateY(-200px); 
        opacity: 0.5%;
    }
    50%  { 
        transform: translateY(30px); 
    }
    100% { 
        transform: translateY(0); 
        opacity: 100%;
    }
}

.subtitle {
    font-size: 1.5rem;
    text-align: center;
    color: rgba(255, 255, 255, 0);
    letter-spacing: 1.5rem;
    margin-bottom: 5rem;
}

.subtitle {
    animation: fadding 3s 2s forwards;
    animation-delay: 4s;
    animation-duration: 3s;
}

@keyframes fadding {
    0% { 
        letter-spacing: 0rem; 
        color: rgba(255, 255, 255, 0);
    }
    100% { 
        letter-spacing: 1.5rem; 
        color: rgba(255, 255, 255, 1);
    }      
}

.list li a {
    animation: faddingmenu 3s 2s forwards;
    animation-delay: 4s;
    animation-duration: 3s;
}

@keyframes faddingmenu {
    0% { 
        letter-spacing: 0rem; 
        color: rgba(255, 255, 255, 0);
    }
    100% { 
        letter-spacing: 0.2rem; 
        color: rgba(255, 255, 255, 1);
    }      
}

/* ##  ALIGN MENU ## */
.list, .list li {
    display: flex;
    align-items: center;
    justify-content: center;
}
/* ########################## */

.list {
    padding-top: 30px;
}

.list li {
    font-size: 1.5rem;
    list-style: none;
    width: 300px;
}

.list li:nth-child(2) {
    margin-right: 2vw;
}

.list a {
    text-decoration:none;
    color:rgba(255, 255, 255, 0);
    line-height: 2rem;  
}

.list a:hover {
    color:#fff;
    text-shadow: gray 15px 10px 4px;
    font-size: 1.6rem;
}

.toggler{
    display: none;
}

footer {
    margin-top: 20%;
    text-align: center;
    font-size: 1em;
    position: relative;
    color: white;
}

@media screen and (max-width: 600px) {

    .imgcontainer {
        justify-content: center;
        align-items: center;
        /* animation: none; */
    }

    .mainlogo {
        display: block;
        width: 50vw;
        height: 30vh;
        position: relative;
    }

    .subtitle {
        font-size: 1rem;
        text-align: center;
        color: rgba(255, 255, 255, 0);
        letter-spacing: 1rem;
        animation: none;
        /* margin-bottom: 5rem; */
        margin-top: 10rem;
    }
    .subtitletext {
        margin: 5px;
        animation: none;
    }

    .toplogocenter {
        animation: none;
    }

    .list, .list li {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        flex-direction: column;
        padding-bottom: 32px;
    }   

    .toggler{
        display: flex;
    }   

    .container {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }

    h2 {
        font-size: 2em;
        font-family: 'Kaushan Script', 'Roboto', sans-serif;
        margin: 0 0 0px 130px;
        color: #fff;
    }

       
    .menu-wrap .toggler {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 4;
        cursor: pointer;
        width: 50px;
        height: 50px;
        opacity: 0;
    }

    .menu-wrap .hamburger {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 3;
        width: 60px;
        height: 60px;
        padding: 1rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .menu-wrap .hamburger>div {
        position: relative;
        width: 100%;
        height: 2px;
        background-color: #fff;
        display: flex;
        transition: all 0.4s ease;
    }

    .menu-wrap .hamburger>div::before, .menu-wrap .hamburger>div::after {
        content: '';
        position: absolute;
        z-index: 1;
        top: -10px;
        width: 100%;
        height: 2px;
        background-color: inherit;
    }

    .menu-wrap .hamburger>div::after {
        top: 10px;
    }

    .menu-wrap .toggler:checked+.hamburger>div {
        transform: rotate(135deg);
    }

    .menu-wrap .toggler:checked+.hamburger>div::before, .menu-wrap .toggler:checked+.hamburger>div::after {
        top: 0;
        transform: rotate(90deg);
    }

    .menu-wrap .toggler:checked:hover+.hamburger>div {
        transform: rotate(225deg);
    }

    /* show menu */

    .menu-wrap .toggler:checked~.menu {
        visibility: visible;
    }

    .menu-wrap .toggler:checked~.menu>div {
        transform: scale(1);
        transition-duration: 2s;
    }

    .menu-wrap .toggler:checked~.menu>div>div {
        opacity: 1;
        transition: opacity 0.4s ease;
    }

    .menu-wrap .toggler:checked~.menu .menu-wrap.menu {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        visibility: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .menu-wrap .menu {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        visibility: hidden;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 2;

    }

    .menu-wrap .menu>div {
        background: rgba(29, 26, 26, 0.7);
        width: 100vw;
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        transform: scale(0);
        transition: all 0.4s ease;
        z-index: 8;
    }

    .menu-wrap .menu>div>div {
        text-align: center;
        display: flex;
        flex-direction: column;
        max-width: 90vw;
        max-height: 100vh;
        opacity: 0;
        transition: opacity 0.4s ease;
    }

    .menu-wrap .menu>div>div>ul>li {
        list-style: none;
        color: white;
        font-size: 1.5rem;
    }

    .menu-wrap .menu>div>div>ul>li>a {
        color: inherit;
        text-decoration: none;
        transition: color 0.4s ease;
    }

    footer {
        margin-top: 80%;
        text-align: center;
        font-size: 0.75em;
        position: relative;
        color: white;
    }
}